
<h3 >Cart</h3>


<div class="cart-item m-5" *ngFor="let item of items">

 <span>{{ item.destination }} </span>

 <span>{{ item.price | currency }}</span>

</div>


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div  id="forum">
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div id="forum">
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>
      <div id="forum">
        <label for="email">
          Email
        </label>
        <input id="email" type="text" formControlName="email">
      </div>
    <button class="btn btn-success" type="submit">Purchase</button>
   </form>