@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Tokyo+Zoo&display=swap');

.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: minmax(10vh, auto);
    justify-content: center;
    gap: 4vh;

}

.checkout{
    margin: 10vh;
    padding: 1vh;
}

#header{
    font-family: 'Indie Flower', cursive;
    font-size: 30pt;
}

h5{
    font-family: 'Indie Flower', cursive;
}