<div class="header d-flex justify-content-center m-4">
    <span>Our Vacation spots</span>
</div>

<p class="m-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
    
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>

    <div class="container m-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/milan.jpg" class="d-block w-100" alt="Milan">
            <div class="carousel-caption d-none d-md-block">
                <h5>Milan, Italy</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/barcelona.jpg" class="d-block w-100" alt="Barcelona">
            <div class="carousel-caption d-none d-md-block">
                <h5>Barcelona, Spain</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/berlin.jpg" class="d-block w-100" alt="Berlin">
            <div class="carousel-caption d-none d-md-block">
                <h5>Berlin, Germany</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/amsterdam.jpg" class="d-block w-100" alt="Amsterdam">
            <div class="carousel-caption d-none d-md-block">
                <h5>Amsterdam, Netherlands</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/london.jpeg" class="d-block w-100" alt="London">
            <div class="carousel-caption d-none d-md-block">
                <h5>London, United Kingdom </h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/paris.jpg" class="d-block w-100" alt="Paris">
            <div class="carousel-caption d-none d-md-block">
                <h5>Paris, France</h5>
              </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>